/* regole generali */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

.container{
    font-family: 'Fredoka', sans-serif;
    width: 70%;
    max-width: 1170px;
    margin: 0 auto;
}
/* fine regole generali */
/* inizio contenuto main */

h1{
    color: rgb(241, 55, 117);
    margin-bottom: 40px;
    margin-top: 20px;
    font-weight: bolder;
}

p{
    margin-bottom:30px;
}

h1,p{
    text-align: center;
}
/* card presentazione con immagine e testo */
.col{
    background-color: rgb(1, 1, 22);
    width: calc(100% / 3 - 20px);
    margin: 20px 10px;
    float: left;
    box-shadow: 0 0 10px 3px rgba(128, 128, 128, 0.548);  
}

.col::after{
    content: '';
    display: table;
    clear: both;
}

.card-text{
    color: white;
    padding-top: 10px;
    line-height: 1.7;
}

.content>img{
    width: 30%;
    float: left;
    margin-right: 20px;
}

.email{
    color: rgb(137, 198, 233);
    font-size: small;
    }
/* fine card presentazione con immagine e testo */